:root {
  --color-primary: #302D63;
  --color-primary-light: #3C467E;
  --color-primary-lighter: #5565AF;
  --color-primary-lightest: #657CBD;
  --color-secondary: #A70055;
  --color-secondary-light: #C05774;
  --color-secondary-lighter: #E0B8C5;
  --color-secondary-lightest: #EDCFD1;
  --color-accent: #EC008C;
  --color-accent-light: #F49AC1;
  --color-gray: #636466;
  --color-gray-light: #939598;
  --color-gray-lighter: #C7C8CA;
  --color-text: #FFFFFF;
  --color-black: #000000;

  --desktop-padding: 3rem;
  --mobile-padding: 1rem;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body:before {
  content: " ";
  width: 100%;
  height: 0.5rem;
  display: block;
  background: linear-gradient(90deg, var(--color-accent), var(--color-primary));
  position: absolute;
}

header {
  padding: var(--desktop-padding);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  flex: 1;
}

nav {
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: var(--color-primary);
  display: inline-block;
  padding: 1rem;
  font-size: 1.25rem;
  transition: background, color, transform 80ms ease-in-out;
  border-radius: 1rem;
  transform: translateY(0rem);
}

nav a:hover {
  background: var(--color-primary);
  color: var(--color-text);
  transform: translateY(-0.25rem);
}

.logo {
  display: block;
  height: 6rem;
}

.logo--codear {
  display: inline-block;
  height: 1.5rem;
  margin: 0 0.5rem;
}

section.banner {
  height: 30rem;
  background-position: center;
}

section.banner.slide-1 {
  background-image: url("../images/backgrounds/01-ice-cream.jpg");
}

section.banner.slide-2 {
  background-image: url("../images/backgrounds/02-happy.jpg");
}

section.banner.slide-3 {
  background-image: url("../images/backgrounds/03-python.jpg");
}

section.legal-notice {
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: var(--desktop-padding);
  text-align: justify;
  color: var(--color-gray-light);
  width: 50%;
  margin: 0 auto;
}

section.copyright {
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  padding: 1rem var(--desktop-padding);
  display: flex;
  align-items: center;
  color: var(--color-text);
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
}

.product-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product-type__description {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.product__name {
  font-size: 1.5rem;
}

.product__name a {
  text-decoration: none;
  color: var(--color-primary);
}

.product__type {
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  background: var(--color-secondary);
  padding: 1rem;
  color: var(--color-text);
}

.product {
  flex: 30rem;
  max-width: 30rem;
  padding: 1rem 5rem;
}

.product:hover {
  border-radius: 1rem;
  background: #f0f0f0;
}

.product__page.product:hover {
  background: none;
}

.product__page {
  padding: 0;
  max-width: 600px;
  flex: 1;
  margin: 0 auto;
}

.product__page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 80rem;
}

.product__data {
  flex: 1;
  padding-left: 2rem;
  padding-top: 1.6rem;
}

.product__data h3 {
  color: var(--color-primary-light);
}

.product__data table {
  width: 100%;
  border-collapse: collapse;
}

.product__data .product__description {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.product__data table th {
  text-align: left;
  border-top: 1px solid var(--color-gray-lighter);
  border-bottom: 1px solid var(--color-gray-lighter);
  padding: 0.5rem 0;
}

.product__data table td {
  padding: 0.5rem 0;
}

.product__data .product__price-container {
  margin-top: 2rem;
}

.products > .donation {
  max-width: 90rem;
  margin: 1rem auto;
}

.donation {
  background: #eee;
  padding: 2rem;
  margin-top: 1rem;
}

.donation .distribution {
  display: flex;
  width: 100%;
  height: 30px;
  color: var(--color-text);
  margin-top: 1rem;
}

.donation .distribution span {
  padding: 0.4rem;
}

.donation .benefactor-ratio {
  background: var(--color-accent);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.donation .gco-ratio {
  background: var(--color-secondary);
}

.donation .taxes-ratio {
  background: var(--color-secondary-light);
  font-size: 0.8rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.donation strong {
  font-size: 1.5rem;
}

.product__image-container {
  border-radius: 1rem;
  border-width: 0.5rem;
  border-style: solid;
}

.product__image {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.product__colors {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.25rem;
  flex-flow: wrap;
}

.product__colors li {
  width: 1.45rem;
  height: 1.45rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: default;
  border-radius: 1rem;
  border: 1px solid var(--color-gray-light);
}

.product__price-container {
  font-weight: 700;
  color: var(--color-secondary);
  font-size: 2rem;
  text-align: center;
}

.buy, .go-to-collection {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text);
  border-radius: 4px;
  margin-top: 1rem;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 1rem;
}

.buy {
  background: var(--color-secondary);
}

.go-to-collection {
  background: var(--color-primary);
}

.buy:hover, .go-to-collection:hover {
  outline-width: 2px;
  outline-offset: -5px;
  outline-color: var(--color-text);
  outline-style: solid;
}

nav .active {
  background: var(--color-primary-light);
  color: var(--color-text);
}

.afip-qr {
  width: 60px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  section.banner {
    background-size: cover;
    height: 20rem;
  }

  header {
    flex-direction: column;
    padding-bottom: 0;
  }

  header nav ul {
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  header nav a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  section.legal-notice {
    padding: var(--mobile-padding);
    width: auto;
  }

  .product {
    max-width: none;
    padding: var(--mobile-padding);
  }

  .product__page-container {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
  }

  .product .product__type {
    margin-top: 0;
  }

  .product__data {
    padding: 1rem 2rem;
  }

  .donation strong {
    font-size: 1.25rem;
  }

  .gco-ratio label, .taxes-ratio label {
    display: none;
  }

  .product-type__description {
    font-size: 1.15rem;
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .product__page-container {
    width: 90rem;
  }
}
