<p>Stickers autoadhesivos circulares, metalizados, de variados tamaños (5cm a 25cm).</p>

<p><strong>IMPORTANTE: Por el momento no estamos produciendo packs de stickers mixtos. Si comprás este sticker, vas a poder
  elegir cantidad y tamaño usando el mismo diseño.</p>

<h3>Guía de tamaños y cantidades</h3>

<table>
  <thead>
    <tr>
      <th>Tamaño</th>
      <th>Medidas</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XXS</td>
      <td>5cm x 5cm</td>
      <td>20</td>
    </tr>
    <tr>
      <td>XS</td>
      <td>6cm x 6cm</td>
      <td>15</td>
    </tr>
    <tr>
      <td>S</td>
      <td>7cm x 7cm</td>
      <td>12</td>
    </tr>
    <tr>
      <td>M</td>
      <td>10cm x 10cm</td>
      <td>6</td>
    </tr>
    <tr>
      <td>L</td>
      <td>12cm x 12cm</td>
      <td>4</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>16cm x 16cm</td>
      <td>2</td>
    </tr>
    <tr>
      <td>XXL</td>
      <td>25cm x 25cm</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
