<p>Camisa unisex en denim. Disponible en talles XS a XXL. La estampa va sobre la espalda de la camisa.</p>

<h3>Guía de talles</h3>
<table>
  <thead>
    <tr>
      <th>Talle</th>
      <th>Ancho</th>
      <th>Largo</th>
      <th>Manga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XS</td>
      <td>40 cm.</td>
      <td>70 cm.</td>
      <td>63,5 cm.</td>
    </tr>
    <tr>
      <td>S</td>
      <td>41 cm.</td>
      <td>72 cm.</td>
      <td>64 cm.</td>
    </tr>
    <tr>
      <td>M</td>
      <td>43 cm.</td>
      <td>76 cm.</td>
      <td>65 cm.</td>
    </tr>
    <tr>
      <td>L</td>
      <td>44 cm.</td>
      <td>76 cm.</td>
      <td>65 cm.</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>46 cm.</td>
      <td>79 cm.</td>
      <td>69 cm.</td>
    </tr>
    <tr>
      <td>XXL</td>
      <td>47 cm.</td>
      <td>80 cm.</td>
      <td>70 cm.</td>
    </tr>
  </tbody>
</table>


