<section class="donation">
  ¡Con la compra de este producto, estás haciendo una donación a <a href="<%BENEFACTOR_HREF%>" target="_blank"><%BENEFACTOR_NAME%></a>!
  La distribución de las ganancias ocurrirá de la siguiente manera:

  <div class="distribution">
    <span class="benefactor-ratio" style="width: <%BENEFACTOR_DISTRIBUTION%>%"><%BENEFACTOR_NAME%></span>
    <span class="gco-ratio" style="width: <%GCO_DISTRIBUTION%>%"><label>GCO</label></span>
    <span class="taxes-ratio" style="width: <%TAXES_DISTRIBUTION%>%"><label>Imp.</label></span>
  </div>

  <strong><p>El <%BENEFACTOR_DISTRIBUTION%>% de las ganancias es destinado a <%BENEFACTOR_NAME%>.</p></strong>

  <p>La Comunidad de Desarrolladores de Argentina, como administradora de la tienda de merchandising, recibe un <%GCO_DISTRIBUTION%>%
  que será utilizado para continuar brindando apoyo y soporte técnico a la plataforma de Geeks con Onda.</p>

  <p>El <%TAXES_DISTRIBUTION%>% remanente corresponde a tasas administrativas de nuestros prestadores de servicios de cobro e impuestos.</p>
</section>
