<article class="product" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  <meta itemprop="position" content="<%INDEX%>">
  <div itemprop="item" itemscope itemtype="https://schema.org/Product">
    <h3 itemprop="name" class="product__name"><a href="<%PRODUCT_PAGE%>"><%NAME%></a></h3>
    <ul class="product__colors" itemprop="color" content="<%COLORS_TEXT%>">
      <%COLORS%>
    </ul>
    <section class="product__image-container" data-base-color="<%BASE_COLOR%>" style="background-color: <%BASE_COLOR%>; border-color: <%BASE_COLOR%>">
      <a href="<%PRODUCT_PAGE%>"><img itemprop="image" src="<%IMAGE_URL%>" class="product__image"></a>
    </section>
    <p itemprop="description" class="product__description"><%DESCRIPTION%></p>
    <div class="product__price-container" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
      <span class="product__currency">$</span>
      <span class="product__price"><%PRICE%></span>
      <link itemprop="availability" href="https://schema.org/InStock">
      <link itemprop="condition" href="https://schema.org/NewCondition">
      <meta itemprop="price" content="<%PRICE%>">
      <meta itemprop="priceCurrency" content="ARS">
      <meta itemprop="priceValidUntil" content="<%PRICE_EXPIRATION%>">
      <meta itemprop="url" content="<%URL%>"></span>
    </div>
    <meta itemprop="url" content="<%URL%>">
    <meta itemprop="brand" content="Geeks con Onda">
    <meta itemprop="sku" content="<%ID%>">
    <meta itemprop="productID" content="<%ID%>">
    <meta itemprop="productType" content="<%PRODUCT_GROUP%>">
    <meta itemprop="category" content="<%PRODUCT_GOOGLE_CATEGORY%>">
    <meta itemprop="gtin8" content="00000000">
  </div>
</article>
