<p>Buzo tipo canguro. De algodón frisa con capucha y bolsillo delantero. Disponible en talles S a XL.</p>

<h3>Guía de talles</h3>
<table>
  <thead>
    <tr>
      <th>Talle</th>
      <th>Ancho</th>
      <th>Largo</th>
      <th>Manga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>S</td>
      <td>56 cm.</td>
      <td>67,5 cm.</td>
      <td>66 cm.</td>
    </tr>
    <tr>
      <td>M</td>
      <td>58 cm.</td>
      <td>69,5 cm.</td>
      <td>68 cm.</td>
    </tr>
    <tr>
      <td>L</td>
      <td>60 cm.</td>
      <td>71,5 cm.</td>
      <td>69 cm.</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>63 cm.</td>
      <td>73,5 cm.</td>
      <td>70 cm.</td>
    </tr>
  </tbody>
</table>
