<h3>Guía de talles</h3>

<table>
  <thead>
    <tr>
      <th>Talle</th>
      <th>Ancho</th>
      <th>Alto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>39</td>
      <td>9,8 cm</td>
      <td>25,5 cm</td>
    </tr>
    <tr>
      <td>40</td>
      <td>10,3 cm</td>
      <td>26,5 cm</td>
    </tr>
    <tr>
      <td>41</td>
      <td>10,8 cm</td>
      <td>27,5 cm</td>
    </tr>
    <tr>
      <td>42</td>
      <td>11,3 cm</td>
      <td>28,5 cm</td>
    </tr>
    <tr>
      <td>43</td>
      <td>11,8 cm</td>
      <td>29,5 cm</td>
    </tr>
    <tr>
      <td>44</td>
      <td>12,3 cm</td>
      <td>30,5 cm</td>
    </tr>
  </tbody>
</table>
