<h3>Guía de talles</h3>

<table>
  <thead>
    <tr>
      <th>Talle</th>
      <th>Ancho</th>
      <th>Alto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>36</td>
      <td>7,9 cm</td>
      <td>24 cm</td>
    </tr>
    <tr>
      <td>37</td>
      <td>8,1 cm</td>
      <td>24,7 cm</td>
    </tr>
    <tr>
      <td>38</td>
      <td>8,3 cm</td>
      <td>25,3 cm</td>
    </tr>
    <tr>
      <td>39</td>
      <td>8,5 cm</td>
      <td>26 cm</td>
    </tr>
    <tr>
      <td>40</td>
      <td>8,7 cm</td>
      <td>26,7 cm</td>
    </tr>
  </tbody>
</table>
