<p>Para quienes disfrutan de remeras más próximas al cuerpo, presentamos esta remera de corte entallado. Confeccionada con tela de 100% algodón. Disponible en talles XS a L.</p>

<h3>Guía de talles</h3>
<table>
  <thead>
    <tr>
      <th>Talle</th>
      <th>Ancho</th>
      <th>Largo</th>
      <th>Manga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XS</td>
      <td>45 cm.</td>
      <td>60 cm.</td>
      <td>27 cm.</td>
    </tr>
    <tr>
      <td>S</td>
      <td>48 cm.</td>
      <td>62 cm.</td>
      <td>29 cm.</td>
    </tr>
    <tr>
      <td>M</td>
      <td>52 cm.</td>
      <td>64 cm.</td>
      <td>30 cm.</td>
    </tr>
    <tr>
      <td>L</td>
      <td>55 cm.</td>
      <td>66 cm.</td>
      <td>34 cm.</td>
    </tr>
  </tbody>
</table>
