<p>La clásica remera de corte recto. Confeccionada con tela de 100% algodón. Disponible en talles XS a XXL.</p>

<h3>Guía de talles</h3>
<table>
  <thead>
    <tr>
      <th>Talle</th>
      <th>Ancho</th>
      <th>Largo</th>
      <th>Manga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XS</td>
      <td>50 cm.</td>
      <td>65 cm.</td>
      <td>32 cm.</td>
    </tr>
    <tr>
      <td>S</td>
      <td>50 cm.</td>
      <td>68 cm.</td>
      <td>34 cm.</td>
    </tr>
    <tr>
      <td>M</td>
      <td>52 cm.</td>
      <td>70 cm.</td>
      <td>35 cm.</td>
    </tr>
    <tr>
      <td>L</td>
      <td>56 cm.</td>
      <td>74 cm.</td>
      <td>36 cm.</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>60 cm.</td>
      <td>76 cm.</td>
      <td>39 cm.</td>
    </tr>
    <tr>
      <td>XXL</td>
      <td>62 cm.</td>
      <td>78 cm.</td>
      <td>40 cm.</td>
    </tr>
  </tbody>
</table>
