<p>Para las pequeñas personitas de nuestras vidas, presentamos esta remera para niñas y niños, confeccionada con tela de 100% algodón. Disponible en talles XS a XXL.</p>

<h3>Guía de talles</h3>
<table>
  <thead>
    <tr>
      <th>Talle</th>
      <th>Ancho</th>
      <th>Largo</th>
      <th>Manga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XS</td>
      <td>36 cm.</td>
      <td>48 cm.</td>
      <td>21 cm.</td>
    </tr>
    <tr>
      <td>S</td>
      <td>38 cm.</td>
      <td>50 cm.</td>
      <td>23 cm.</td>
    </tr>
    <tr>
      <td>M</td>
      <td>40 cm.</td>
      <td>53 cm.</td>
      <td>24 cm.</td>
    </tr>
    <tr>
      <td>L</td>
      <td>42 cm.</td>
      <td>56 cm.</td>
      <td>27 cm.</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>44 cm.</td>
      <td>59 cm.</td>
      <td>28 cm.</td>
    </tr>
    <tr>
      <td>XXL</td>
      <td>46 cm.</td>
      <td>61 cm.</td>
      <td>30 cm.</td>
    </tr>
  </tbody>
</table>
