<p>Para bebés con toda la onda, presentamos esta remera, confeccionada con tela de 100% algodón fino. Disponible en talles S a L.</p>

<h3>Guía de talles</h3>
<table>
  <thead>
    <tr>
      <th>Talle</th>
      <th>Ancho</th>
      <th>Largo</th>
      <th>Manga</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>S</td>
      <td>26 cm.</td>
      <td>34 cm.</td>
      <td>16 cm.</td>
    </tr>
    <tr>
      <td>M</td>
      <td>27 cm.</td>
      <td>38 cm.</td>
      <td>18 cm.</td>
    </tr>
    <tr>
      <td>L</td>
      <td>28 cm.</td>
      <td>42 cm.</td>
      <td>19 cm.</td>
    </tr>
  </tbody>
</table>
